{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Faculdade</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4 fw-bold">Faculdade</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link">Quem somos</a></li>
        </ul>
    </header>
</div>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">E refez-se o ensino.</h1>
            <p class="lead text-muted">
                São mais de 200 cursos de graduação e mais de 380 de pós-graduação!
            </p>
            <a href="{% url 'turma_read' %}" class="btn btn-primary my-2">
                Criar conta
            </a>
            <a href="{% url 'turma_read' %}" class="btn btn-secondary my-2">
                Entrar
            </a>
        </div>
    </div>
</section>
<div class="container px-4 py-5">
    <hr>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div>
                <h2>Preço</h2>
                <p>Você estuda sem preocupações.
                    Conheça as soluções financeiras pensadas especialmente para você.</p></div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h2>Cursos</h2>
                <p>São mais de 200 cursos de graduação e mais de 380 de pós-graduação.</p></div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h2>Mentoria e Orientação</h2>
                <p>
                    Nós sabemos como pode ser difícil a vida depois de se formar. Que tal a gente orientar você nesse
                    tempo?
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container px-4 py-5">
    <hr>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div>
                <h2>Reconhecimento</h2>
                <p>Mais de 87 cursos com notas 4 e 5 no MEC.</p></div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h2>Infraestrutura</h2>
                <p>Laboratórios com tecnologia de ponta específica para cada curso.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h2>Professores</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>